[defaults]
inventory = ./inventory.yml
vars_plugins_enabled = host_group_vars, community.aws_secrets_manager.aws_secrets

[vars_aws_secrets]
prefix    = ansible/{{ inventory_hostname }}/
region    = us-west-2
cache_ttl = 600
stage     = inventory
